body{
    background-color: rgba(181, 12, 181, 0.075);
}
.card{
    margin-top:10px !important;
    box-shadow:1px 1px 2px grey;
    border-radius:10px;
}

.card-header{
    font-size:20px;
    font-family:'sitka text';
}
.card-title{
    font-family:'sitka text';
}
.login{
    font-family: 'sitka text';
    font-size:20px;
}
a{
    text-decoration:none;
    color:black;
}
.msg{
    color:red;
    font-style: italic;
    font-size:17px;
}